
Goal:
- measure how variability factors affect associativity failure rate
- identify which factor impacts the most
- recommend stable settings to remove variability


# Associativity variability analysis — conclusion

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\62421\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\62421\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\62421\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\62421\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\62421\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\62421\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd

df = pd.read_csv("results_associativity.csv")
df.head()

   repetitions          op1          op2      dtype       dist  seed  result
0         1000  (x + y) + z  x + (y + z)    float64  uniform01     0   0.157
1         1000  (x + y) + z  x + (y + z)    float64  uniform01     1   0.171
2         1000  (x + y) + z  x + (y + z)    float32       wide     0   0.208
3         1000  (x + y) + z  x + (y + z)    float32       wide     1   0.218
4         1000  (x + y) + z  x + (y + z)  decimal50  uniform01     0   0.000

In [7]:
summary = {}
for col in ["dtype","dist","seed"]:
    summary[col] = df.groupby(col)["result"].mean().sort_values()

summary

{'dtype': dtype
 decimal50    0.000056
 float32      0.103911
 float64      0.133100
 Name: result, dtype: float64,
 'dist': dist
 uniform_signed    0.038378
 uniform01         0.056667
 wide              0.142022
 Name: result, dtype: float64,
 'seed': seed
 0    0.078289
 1    0.079756
 Name: result, dtype: float64}

## Conclusion

From our CSV:

**Most important factors:**
1) **distribution (dist)**  
→ `wide` produces the most failures

2) **dtype**  
→ `decimal50` drastically reduces failures  
→ float types have higher failure rates

`seed` has almost no influence.

### recommended settings for stable result

| factor | recommended |
|---|---|
| dtype | `decimal50` |
| dist  | avoid `wide` — use `uniform_signed` |
| seed  | fix to constant (0 or 1) |

# Banking problem analysis — conclusion